{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <!-- Page Content -->
        <div class="container">
            <h1 class="my-4">Tareas Asignadas</h1>
            <p>Estas tareas han sido asignadas por el administrador o creadas por el usuario para sí mismo</p>
            <!-- Portfolio Section -->
            <h2>Tasks</h2>

            {#{% dump tasks %}#}
            <div class="row">
                {% if tasks is defined and tasks is not empty %}
                    {% for task in tasks %}
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ path('actividad', {'id':task.id}) }}">{{ task.taskName | capitalize}}</a>
                                    </h4>
                                    <p class="card-text">{{ task.shortDescription }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <!-- /.row -->

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
